<ion-content padding class="full-background" text-center>
  <div class="logo-wrapper">
    <img src="assets/imgs/logo.png" alt="logo" style="width: 200px; height: 80px">
  </div>
  <form [formGroup]="userLoginForm">
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-label floating>Login Id</ion-label>
          <ion-input type="text" formControlName="userLoginId"></ion-input>
        </ion-item>
        <ion-icon name="log-in"></ion-icon>
      </ion-row>
      <p *ngIf="userLoginId.hasError('required') && userLoginId.touched" class="error">*Login Id is required</p>
      <ion-row>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="passwordLogin"></ion-input>
        </ion-item>
        <ion-icon name="lock"></ion-icon>
      </ion-row>
      <p *ngIf="passwordLogin.hasError('required') && passwordLogin.touched" class="error">*Password is required</p>
    </ion-grid>
    <ion-grid>
      <button ion-button large color="primary" [disabled]="!(userLoginForm.valid)" (click)="login();">
        Login
        <ion-spinner name="dots" *ngIf="showLoginLoader"></ion-spinner></button>
    </ion-grid>
  </form>
</ion-content>
