page-home {
  .card-title {
    text-align: center;
  }
  .card {
    padding: 10px;
  }
  .icon {
    margin-top: 14px;
    margin-left: -5px;

  }
  .scroll-content{
    font-family: "Times New Roman", Times, serif;
  }

}
