@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.ion-content {
  font-family: Roboto;

}
.full-background {
  background-color: #fff;
}

ion-spinner {
  * {
    stroke: #ffeb3b;
  }

  &.spinner-circles circle,
  &.spinner-bubbles circle,
  &.spinner-dots circle {
    fill: #ffeb3b;
  }
}

ion-icon {
  margin-right: 5px;
}

.search-spinner{
  top:45%;
  left: 45%;
  position: fixed;
  z-index: 1;
}

.sticky-custom {
  position: -webkit-sticky !important;
  position: sticky !important;
  top:0 !important;
  z-index: 1 !important;
}

//table

table, td, th {
  text-align: center;
}
table {
  border: 1px solid #ccc;
  width: 100%;
}
th, td {
  padding: 5px;
  border: 1px solid #ccc;
}
tr:nth-child(even){background-color: #EEEEEE}

table thead tr {
  height: 60px;
  background: #0e283e;
  color: white;
}

tbody tr {
  font-size: 15px;
  color: #000;
  line-height: 3;
  font-weight: unset;
}

//

.recieved {
  color: green
}

.in-progress {
  color: color($colors, primary)
}

.cancel {
  color: red
}


//header
ion-toolbar.toolbar,
ion-navbar.toolbar {
  .toolbar-background{
    background: #225F93;
  }
  .searchbar .searchbar-input {
    background: #fff;
  }
}

//ios header
.toolbar-content .toolbar-title {
  color: #fff;
}
//header
ion-toolbar.toolbar {
  padding: 10px 15px;
  ion-title {
    position: relative;
    padding: 0;
    .toolbar-title {
      font-size: 12px;
      color: #fff;
      text-align: center
    }
    span {
      font-size: 18px;
      display: block;
      padding-left: 5px;
      margin-top: 4px;
    }
  }
  > div {
    text-align: center;
    &.toolbar-content {
      border-bottom: 1px solid #fff;
      padding-bottom: 20px;
    }
  }
}
//overriding default framework style
.item.item-block {
  padding: 0;
}

.item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item.item-input.item-input-has-focus .item-inner,
.item.item-input.input-has-focus .item-inner {
  box-shadow: 0 -1px 0 0 #225F93;
  border-bottom-color: #225F93;
}

.item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  box-shadow: 0 -1px 0 0 #f53d3d;
}

.list-ios > .item-block:first-child,
.list-ios > .item-block:last-child,
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border: none;
}

button.item-ios:not([detail-none]) .item-inner {
  background: none;
  padding: 0;
}

ion-content.content[padding] .scroll-content {
  padding: 0 15px;
  padding-bottom: 16px !important;
}

ion-content.content:not([padding]) .scroll-content {
  padding: 0 15px;
  padding-bottom: 0 !important;
}

.item.item-block .item-inner {
  button.item-button {
    margin: 0;
    padding: 0;
  }
  padding-right: 0;
}

//cart icon styling
ion-badge {
  padding: 4px 6px;
}
.cart-btn {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -4px;
  right: -6px;
  background: color($colors, secondary);
  border-radius: 10px;
  height: 18px;
  width: 18px;
  font-size: 10px;
}

button.bar-button {
  color: #fff;
  &:first-child {
    margin-right: 10px;
  }
}
.button-md {
  padding: 0 .8em;
}
ion-menu {
  .item.item-block ,
  .full-background {
    color: #fff;
    background: color($colors, primary);
  }
  ion-label {
    text-align: center;
    display: block;
    span {
      display: block;
    }
  }
  img {
    width: 45px;
    margin: 20px 0 5px;
    color: #fff;
  }
  .item.item-block > span {
    display: block;
  }
  ion-header::after {
    background-image: none !important;
  }
  ion-avatar {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background: #fff;
    margin: 10px 0;
    img {
      width: 60px;
      position: relative;
      top: -6px;
      left: 14px;
    }
  }
  .item.item-block .item-inner {
    border-bottom: none;
  }
  ion-list.list {
    margin-top: 20px;
  }
}
